@charset "utf-8"

@import 'font/_all'
@import 'marketapp/mixin'

// ----------------------------------  변수선언 ---------------------------------- //

// 
//  [B - Utilities]   //
// 


// initial-variable.sass   

 // Color
$color-black: #000000
$color-black02 : #333333
$color-black03 : #151515
$color-black04 : #363636


$color-blue : #1C67FF  // 기본 
$color-blue02  : #3273DC
$color-blue03 : #16295A

$color-gray : #DBDBDB
$color-gray02 : #D5D5D5
$color-gray03 : #333333
$color-gray04 : #585858
$color-gray05 : #8B8B8B
$color-gray06 : #CACACA
$color-gray07 : #EEEEEE
$color-gray08 : #ACACAC
$color-gray09 : #E5E5E5

$color-white : #FFFFFF
$color-white02 : #F5F5F5
$color-white03 : #F9F9F9

$color-red : #FF0000
$color-red02 : #D64C3E // google

$color-yellow : #FEE500 // kakao

$color-green : #00C300  // naver
$color-green02 : #058B8B 

$color-transparent: transparent


// Typography
$family-sans-serif: 'NotoSansKR', sans-serif

$size-1: 32px
$size-2: 30px
$size-3: 20px
$size-4: 18px
$size-5: 16px
$size-6: 15px
$size-7: 14px
$size-8: 13px
$size-9: 12px

$weight-black: 900

$border-color : $color-gray09

$block-spacing: 15px


// derived-variables.sass
$family-primary: $family-sans-serif





// 
//  [B - Base]   //
//    

// generic.sass //
$body-background-color: $color-white
$body-min-width: 280px
$body-font-size: 16px
$body-line-height: 1.3
$body-color : $color-black


$widescreen-enabled: false
$fullhd-enabled: false
$gap: 16px
$strong-weight: 700
$container-max-width: 100%

$link: $color-black
$body-color: $color-black



// 
//  [B - Grid]   //
// 

// grid.sass
$column-gap: 6px
//   

// 
//  [B - Utilities]  //
//   

$navbar-height: 4.75rem    // navbar / 16px

// control.sass
$input-focus-border-color: $color-gray
$input-shadow: none


 


// tools.sass
$label-weight: 400
$size-normal: $size-6

// box.sass
$box-padding: 20px 30px

// Image Path
$image-path: '/img/'

// -------------
//  [B] Form
// -------------    

// shared.sass //
$input-color: $color-black  // text

$input-border-color: $color-gray02

$input-radius : 5px
$input-hover-border-color: $color-gray

$input-focus-border-color: none
$input-focus-box-shadow-size: 0
$input-focus-box-shadow-color: transparent

$input-radio-checked-color: $color-blue
$input-radio-checkbox-default-bacgkround-color: $color-white

$input-checkbox-checked-background-color: $color-blue
$input-checkbox-checked-border-color: $color-blue
$input-checkbox-checekd-color: $color-white

$input-label-color: $color-black03
$input-disabled-background-color-2: $color-white
$input-disabled-color-2 : $color-black03





// tools.sass

// -------------
//  [B] Elements
// -------------


// title.sass

$title-family : 'NotoSansKR', sans-serif
$title-size: $size-4
$title-weight: 700

$subtitle-color: $color-gray05
$subtitle-line-height: 1.2
$subtitle-strong-weight: 700
$subtitle-strong-color: $color-gray05



// notification.sass
$notification-radius: 0
$notification-padding: $gap
$notification-padding-ltr: $gap
$notification-padding-rtl: $gap

// -------------
//  [B] Layout  
// -------------


// section
$section-padding : 0 $gap $gap $gap

// -------------
// [B]  Components  
// -------------


// modal.sass
$modal-background-background-color: rgba(0, 0, 0, .3)
$modal-card-title-line-height: 26px
$modal-card-head-background-color: $color-white

$modal-card-head-padding: 16px 20px 15px
$modal-card-body-padding: 30px 0px
$modal-content-width: 550px




// -------------
// [B]  Utilities  
// -------------

// initial-variables.css
$radius-small: 4px
$radius: 5px

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9




// derived-variables.sass




// controls.sass
$control-radius: 6px // 버튼
$control-height : 50px
$control-radius: 0px


=control-small
    $control-height : 40px

=control-medium
    $control-height : 50px

=control-large
    $control-height : 55px


// 기존 bulma css 
@import 'utilities/_all'
@import 'base/_all'
@import 'components/_all'
@import 'elements/_all'
@import 'form/_all'
@import 'grid/_all'
@import 'helpers/_all'
@import 'layout/_all'



// custom css
@import 'marketapp/_all'






// shared.sass



// modal.sass
$modal-background-background-color: rgba(0, 0, 0, .3)
$modal-card-title-color           : $color-black03
$modal-card-title-size            : $size-3
$modal-card-title-line-height     : 28px
$modal-card-head-background-color : $color-white
$modal-card-head-border-bottom    : 1px solid $color-gray07
$modal-card-head-padding          : 16px 20px 15px
$modal-card-body-padding          : 30px 0px
$modal-card-foot-border-top       : none
$modal-content-width              : 550px

// tools.sass
$label-weight: 400
$label-color : $color-gray04

// box.sass
$box-padding: 20px 30px
$box-color  : $color-black

// tabs.sass
$tabs-toggle-link-border-color           : $color-gray09
$tabs-toggle-link-hover-border-color     : $color-gray09
$tabs-toggle-link-hover-background-color : $color-white02
$tabs-toggle-link-active-background-color: $color-white
$tabs-toggle-link-active-border-color    : $color-blue
$tabs-toggle-link-active-color           : $color-blue
$tabs-link-color                         : $color-gray06
$tabs-link-hover-color                   : $color-gray06
$tabs-link-active-color                  : $color-black




// swiper
\:root
    --swiper-theme-color: #fff
    --swiper-navigation-size: 20px

.mainslide-box
    img
        width: 100%

.swiper-container
    font-size: 0


.swiper-button-next,
.swiper-button-prev
    outline: 0

    span
        overflow: hidden
        text-indent: 100%
        white-space: nowrap
        z-index: 100
    
    &::after
        padding: 10px
        outline: 0

      

/*************
    Common
 *************/

// common class
.bg-gray
	background: $color-gray07 !important
	
.bg-white	
	background: $color-white !important

a.link-blue
	color : $color-blue
	&:active,
	&:focus,
	&:active
		color : $color-blue


.infotxt-box
	margin: 40px auto 
	display: table
	text-align: center
	font-size: $size-5
	
	p
		+ .button
			margin-top: 20px




ul.unorder-list
	list-style: none
	margin: 0
	padding: 0

	> li
		position: relative
		padding-left: 10px
		line-height: 1.4
		font-size: $size-7

		+ li
			margin-top: 10px

		&::before
			content: ''
			width: 3px
			height: 3px
			border-radius: 50%
			background-color: $color-black
			position: absolute
			top: 9px
			left: 0

        



/*************
    Login
 *************/
.container
    > .login
        padding: 100px $gap 30px
.login
    .field
        &:not(:last-child)
            margin-bottom: calc(10px - #{$column-gap})
    .field-grid
        + .buttons
                margin:
                    top: 20px

.sns-login
    .button
        position: relative
    
        &::before
            position: absolute
            content: ''
            left: 0
            width: 50px
            height: 50px
            line-height: 50px
            background: 
                position: center
                repeat: no-repeat

        &.kakao
            color: rgba(0, 0, 0, .85)
            &:before
                background: 
                    image: url(/img/logo_kakao.png)
                    size: 22px auto

        &.naver 
             &:before
                background: 
                    image: url(/img/logo_naver.png)
                    size: 34px auto 

        &.google 
            border-color: #E5E5E5
            &:before
                background: 
                    image: url(/img/logo_google.png)
                    size: 24px auto





/*************
    Join
 *************/
.container
    > .join
        padding: 100px $gap 30px

    > .join02
        padding: 60px $gap 30px


/*************
    Find id/pw
 *************/
.findidpw-box
    .tab-cont 
        padding-top: 30px
    





    
/*************
    Terms
 *************/
.container
    > .terms
        padding: 100px $gap 30px

.terms

    .cont
        font: 
            size: $size-4
            weight: $weight-medium
        letter-spacing: 0.03em

    .field 
        &:first-child
            border-bottom: 1px solid $color-gray
            padding:
                top: 20px
                bottom: 20px
            strong
                font-size: $size-4



/********
    App Main     
 ********/
.appmain
    position: absolute
    top: 50%
    left: 0
    width: 100%
	
    +prefix (transform, translateY(-50%))

    .title
        text-align: center
        padding-bottom: 10px

    .logo-img
        display: table
        margin: 0 auto

        img
            margin: 0 auto


/********
    Main     
 ********/

// foodtab-section
.foodtab-section
    position: relative
    padding-bottom: 20px

    &:after
        +clearfix

.foodctg-list
	padding-top: 5px
	&.columns
		margin: 0

	> li
		line-height: 1.5
		padding: 5px
		text-align: center

	.img-box
		display: block
		margin-bottom: 5px

		.img
			display: table
			table-layout: fixed
			margin: 0 auto
			padding: 10px
			background-color: $color-gray07
			border-radius: 10px
			outline: 0

		&:hover,
		&:focus,
		&:active
			outline: 0

	img
		width: 50px
		height: 40px
		overflow: hidden
		display: block
		margin: 0 auto
		outline: 0
		background-color: transparent
		-webkit-tap-highlight-color: transparent
		
		&:hover,
		&:focus,
		&:active
			outline: 0

	a
		display: inline-block
		margin: 0 auto
		font-size: $size-7


// delivery-addr
.delivery-addr
	width: 100%
	height: 45px
	line-height: 45px
	text-align: center
	background-color: $color-white
	border-bottom: 1px solid $color-gray
	z-index: 10
    
	> a
		display: block

	.location-txt
		position: relative
		display: inline-block
		padding: 
			left: 23px
			right: 25px

		&::before,
		&::after
			content: ''
			position: absolute
			top: 50%
			transform: translateY(-50%)
			display: inline-block

		&:before
			+location
			left: 0

		&::after
			+co-arrow(down)
			margin:
				top: -9px
			right: 0


// subtab-box
.subtab-box
    width: 100%
    overflow: hidden
    z-index: 10
    border-bottom: 1px solid $color-gray

    .subtab
        display: block
        margin: 0 auto
        padding: 10px 6px
        width: auto
        font-size: 0
        text-align: left
        overflow-x: scroll
        white-space: nowrap
        -webkit-overflow-scrolling: touch

        &::-webkit-scrollbar
            width: 0
            height: 0
            background-color: red

        > li
            display: inline-block
            padding: 0 6px

            &.active

                > a
                    color: $color-white
                    background-color: $color-blue02
                    border-color: $color-blue02
            > a
                    font-size: $size-7
                    padding: 5px 8px
                    border: 1px solid $color-gray02
                    background-color: $color-white
                    line-height: 32px
                    border-radius: 32px


/********
 Address
 ********/
.now-location
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active
        color: $color-black
        
    > span
        position: relative
    
        &::before
            +location
            content: ''
            margin:
                right: 5px


.content
	ul.list-non-type
		list-style: none
		margin: 0

		> li + li
			margin-top: 5px

.address-box
	border-bottom: 1px solid $color-gray
	background-color: $color-white

	&.type01
		border: 
			bottom: 0

		> a
			padding:
				top: 10px
				bottom: 13px
		
		.addr-stitle
			font-size: 0

    
	&.type02
		position: relative
		
		> a
			padding: 
				top: 10px
				bottom: 13px
				right: 30px

		.btn-delete
			position: absolute
			top: 5px
			right: 0
			font-size: 0
			z-index: 10
    
	&.type03
		> a
			padding:
				top: 10px
				left: $gap
				right: $gap
				bottom: 13px

		.addr01
			color: $color-gray04
		
		.addr02
			.dpt
				color: $color-gray04

	&.type04
		position: relative
		padding:
			top: 10px
			bottom: 13px
			right: 45px

		.btn-modify
			display: inline-block
			position: absolute
			top: 50%
			right: 0
			+prefix(transform, translateY(-50%))

	&.type05
		border: 0
		.addr01
			font-size: 17px

	> a
		display: block


            

                
.addr-stitle
    margin: 
        bottom: 10px
    > span
        font: 
            size: 17px
            weight : 700
        position: relative

        &[class^='addr-dpt'] 
            &::before
                background:
                    size: 100% auto
                    position: center
                    repeat: no-repeat
                content: ''
                width: 20px
                height: 20px
                display: inline-block
                vertical-align: middle
                margin: 
                    right: 5px
                    top: -2px

        &.addr-dpt01::before
            background-image: url(/img/ico_addr01.png)
        &.addr-dpt02::before
            background-image: url(/img/ico_addr02.png)
        &.addr-dpt03::before
            background-image: url(/img/ico_addr03.png)


.addr01,
.addr02
    font-size: $size-7

.addr02
    display: table
    margin-top: 10px
    table-layout: fixed
    width: 100%
    font-size: $size-7

    > div
        display: table-cell

        &.left
            width: 60px
        &.right
            color: $color-gray04
    .dpt
        padding: 0 5px
        border: 1px solid $color-gray
        color: $color-black

.button
    align-items:  center

// address-search
.address-search
	.is-search-box
		background-color: $color-white
		border-bottom: 1px solid $color-gray07
		padding: $gap
		position: fixed
		top: $header-height
		left: 0
		right: 0
		z-index: 10

		+ section
			margin-top: 95px


	
// map-box
.map-wrap
    padding-bottom: 217px

.map-area
    position: relative
    height: inherit
    
    .btn-map
        position: fixed
        bottom: 225px
        right: 10px
        z-index: 10



// address-fixed-bottom
.address-fixed-bottom
    padding: $gap
    background-color: $color-white
    border-top: 1px solid $color-gray

    position: fixed
    bottom: 0
    left: 0
    right: 0
    z-index: 30
    
    .field
        margin-bottom: 0
    input
        margin: 15px 0


/********
 Order List
 ********/
.ordertab
    padding-bottom: 10px

.order-list
    width: 100%
    margin: 0
    font-size: $size-4

.order-box 
    border: 1px solid $color-gray
    margin: 6px
    padding: 10px

.order-title
	+clearfix

	font:  
		size: $size-7
		weight: $weight-normal
    
	padding-bottom: 8px;
	border-bottom: 2px solid $color-blue

	.left
		float: left
		color: $color-blue03

	.right
		float: right

.order-link
    color: $color-blue
    font-size: $size-8
    padding-top: 2px

    &:hover,
    &:focus,
    &:active
        color: $color-blue
    
.order-info
    padding-top: 10px

    .media-left
        margin-right: 10px

        .img-box
            width: 100px

.order-cont
    dt
        font: 
            size: $size-6
            weight: $weight-medium
        color: $color-blue03

    dd
        font: 
            size: $size-7
            weight: $weight-normal
        color: $color-blue03
        margin-top: 6px

    .odr-menu-opt
        font:
            size: $size-8
        color: $color-gray05


    .odr-price
        span
            color : $color-gray05
            &:first-child
                font: 
                    size: $size-5
                    weight: $weight-medium
                color: $color-blue03

            &:last-child
                position: relative
                padding-left: 10px 
                font:
                    size: $size-6

                &::before
                    position: absolute
                    top: 5px
                    left: 0
                    content: ''
                    width: 1px
                    height: 15px
                    background-color: $color-gray08
                    display: inline-block
                    margin-left: 1px

.order-btnbox
    margin-top: 10px

    .odr-btn
        display: inline-block
        text-align: center
        min-width: 80px
        height: 30px
        line-height: 30px
        color: $color-gray06
        border: 1px solid $color-gray06
        background-color: $color-white
        font-size: $size-7

        &:hover,
        &:focus,
        &:active
            color : $color-gray06

        + .odr-btn
            margin-left: 10px

/*************
    Profile modify
 *************/

.prfmod-email
    font-size: 15px
    color: $color-gray03

    .mark
        color: $color-blue

.label-withsub
    display: table
    margin-bottom: 5px
    .label,
    span
        display: table-cell
        vertical-align: middle

    span
        padding-left: 5px


.agreechk-box
    margin-top: 35px
    padding-top: 15px
    border-top: 1px solid $color-gray06

    .title-field
        padding-bottom: 0

        p.subtitle
            color: $color-gray05


    .toggle-cont
    
        


/*************
    withdrawal
 *************/
.withdrawal
    padding-top: 30px

    .form-grid
        padding-top: 60px


/* ************
    available-coupon
  *************/

.coupon-box
    border: 1px solid $color-gray
    background-color: $color-white

    > a
        padding: 15px 10px
        display: block
    
    + .coupon-box
        margin-top: 15px

    .coupon-price
        font: 
            weight: $weight-bold
            size: 24px
        color: #F75531
        letter-spacing: -0.03em

    .coupon-cont
        margin-top: 15px
        color: $color-gray05
        font-size: $size-7

        dt, dd
            margin-top: 5px



/*************
    mtminq-list
  *************/
.mtminq-list
    // select 고정 시
    .select-field
        &.fixed
            position: fixed
            left: 0
            right: 0
            background-color: #fff

            .section
                padding-top: 52px


.inqlist-box
	border-bottom: 1px solid $color-gray

	> a
		display: block

	.inqlist-cont
		padding-top: 15px
		font-size: $size-6

	.inqlist-info
		padding: 
			top: 10px
			bottom: 10px

		> span
			display: inline-block
			font-size: $size-8

			&.status
				color: #F75531
				margin-right: 5px

			&.date
				color: $color-gray05
				letter-spacing: 0.03em


/*************
    mtminq-write
  *************/
.mtminq-write
    display: flex
    flex-direction: column


// inq-photo-box
.inq-photo-box

    width: 100%
    padding-top: 16px
    overflow: hidden

.inq-photo-list
    display: block
    margin: 0 auto
    padding: 
        left: 11px
        right: 11px
        bottom: 25px
    width: auto
    font-size: 0
    text-align: left
    overflow-x: scroll
    white-space: nowrap
    -webkit-overflow-scrolling: touch


    > li
        margin: 0 5px
        display: inline-block
        
        > a
            display: block


.inq-photo
    border-radius: 6px
    width: 96px
    height: 96px
    overflow: hidden

    &.mark
        display: table
        table-layout:  fixed
        background-color: $color-gray09
        
        > div
            display: table-cell
        
        i
            display: block
            width: 24px
            height: 24px
            margin: 0 auto
            background: url(/img/ico_camera.png) center 0/24px auto no-repeat;

        .cnt
            display: block
            margin-top: 5px
            font-size: $size-8
            color: $color-gray05


    &.image
        img
            min-width: 100%
            min-height: 100%
            max-width: 100%
            max-height: 100%


    > div
        height: 100%
        text-align: center
        vertical-align: middle
        overflow: hidden


.inq-textarea-box
    border-top: 1px solid $color-gray
    display: flex
    flex: 1
    padding-bottom: 30px

    .textarea 
        border: 0
        resize: none
        height: 100%


/*************
  payment-view
  *************/
.payment-view
	.payment-title

.productinfo-box
	padding: 
		top: 16px
		bottom: 30px


.paymethod-list
	display: flex
	flex-wrap: wrap

	&, 
	> li
		border: 
			color: $color-gray
			width: 1px
	
	&
		border: 
			left-style: solid
			top-style: solid

	> li
		flex-basis: 25%
		border:
			right-style: solid
			bottom-style: solid


.paymtd
	padding-bottom: 100%
	position: relative
	
	> a
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0

		> div
			display: flex
			width: 100%
			height: 100%
			align-items: center
			justify-content: center

		span
			display: block
			width: 100%
			text-align: center
			padding: 0 5px
			font-size: $size-6


.totalprice-box
	background-color: $color-white
	border-top: 1px solid $color-blue
	height: 50px
	line-height: 50px
	padding:
		left: 16px
		right: 16px

	.level 
		height: 100%

	.price
		font-size: $size-4



/*************
  mypage
 *************/

.mypage
	.version
		padding: 0 10px

.arrow-column
	background-color: $color-white
	> a
		min-height: 50px	
		display: flex
		position: relative

		> i
			position: absolute
			top: 50%
			right: 10px

			+prefix(transform, translateY(-50%))
			
			&:after
				+co-arrow(right)
				border-color: $color-gray
				border-width: 2px

	.cont
		display: flex
		width: 100%
		align-items: center
		padding-right: 30px
		padding-left: 10px
	
	.name
		font: 
			size: $size-5
			weight: $weight-normal
		
	&.user-info
		margin-bottom: 10px
		> a
			min-height: 80px

		.name
			font-size: $size-3

	


// user-grid
.user-grid
	display: flex
	flex-direction: row

.user-column
	display: flex
	text-align: center
	flex-basis: 100%
	justify-content: center
	position: relative

	&:not(:last-child)
		&::after
			content: ''
			position: absolute
			top: 50%
			right: 0
			width: 1px
			height: 20px
			background-color: $color-gray

			+prefix (transform, translateY(-50%))

	a
		display: block
		width: 100%

	.cnt
		display: block
		padding-bottom: 5px
		font-size: $size-4
		
	.name
		font: 
			size: $size-6
		color: $color-gray05

.myctg-list
	> li
		border-bottom: 1px solid $color-gray


.user-grid02
	margin: 
		top: 20px
		bottom: 20px
	border-radius: 2px
	display: flex
	flex-direction: row
	background-color: $color-white02
	border: 1px solid $color-gray
	
	.user-column
		> a
			padding:
				top: 10px
				bottom: 10px
		
		.name	
			color: $color-black



/*************
  frequentqna
 *************/
.qna-question,
.qna-answer
	.cont
		font-size: $size-6

.qna-question
	> a
		padding: $gap
		display: block

		position: relative

		border-bottom: 1px solid $border-color
	
	.cont
		display: flex
		width: 100%
		align-items: center
		padding-right: 30px
		
	i
		position: absolute
		top: 50%
		right: 20px
		margin-top: -3px

		+prefix(transform, translateY(-50%))

		&::after
			content: ''
			+co-arrow(down)
			width: 10px
			height: 10px
			border-width: 2px

	&.active
		.cont
			color: $color-blue


		i::after
			+co-arrow(up)
			
			border-color: $color-blue
			border-width: 2px
			width: 10px
			height: 10px
		

		


.qna-answer
	padding: 20px $gap
	background-color: $color-white02
	display: none

	.btn
		text-align: right
		padding-right: 3px

	.qna-close-btn
		border-bottom: 1px solid $color-blue
		font-size: $size-7
