
/** 
	Button
 **/

/* button.sass */
$button-hover-color: $border

$text-strong: $color-black

$link-hover: $border
$link-hover-border: $border

$link-focus: $border
$link-focus-border: $border

$link-active: $border
$link-active-border: $border


$button-gray-bg-color          : $color-gray06
$button-gray-hover-bg-color    : $color-gray06
$button-gray-active-bg-color   : $color-gray06
$button-gray-color             : $color-white
$button-outline-hover-color    : $color-blue
$button-text-color             : $color-gray06

// is-blue
$button-blue-bg-color         : $color-blue
$button-blue-hover-bg-color   : $color-blue
$button-blue-active-bg-color  : $color-blue
$button-blue-color            : $color-white

// is-black
$button-black-bg-color         : $color-black
$button-black-hover-bg-color   : $color-black
$button-black-active-bg-color  : $color-black
$button-black-color            : $color-white

// is-yellow
$button-yellow-bg-color         : $color-yellow
$button-yellow-hover-bg-color   : $color-yellow
$button-yellow-active-bg-color  : $color-yellow
$button-yellow-color            : $color-white

// is-ygreen
$button-ygreen-bg-color         : $color-green
$button-ygreen-hover-bg-color   : $color-green
$button-ygreen-active-bg-color  : $color-green
$button-ygreen-color            : $color-white

// is-cred
$button-cred-bg-color         : $color-red02
$button-cred-hover-bg-color   : $color-red02
$button-cred-active-bg-color  : $color-red02
$button-cred-color            : $color-black 


=button-large
	font: 
		size: 18px
	height: 55px
	padding:
		left: 30px
		right: 30px
	min:
		width: 164px
=button-medium
	font: 
		size: 16px
	height: 50px
	padding:
		left: 20px
		right: 20px
	min:
		width: 140px
=button-small
	&:not(.is-rounded)
    border-radius: 0
	font: 
		size: 14px
	height: 40px
	padding:
		left: 10px
		right: 10px
	min:
		width: 100px
.button	
	border:
		radius: 6px	
	&.is-large
		+button-large
	&.is-medium
		+button-medium
	&.is-small
		+button-small

	&.is-gray
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
			background:
				color: $button-gray-bg-color
			color: $button-gray-color
			border:
				color: $button-gray-bg-color
		&.is-inverted
			&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
			background:
				color: $button-gray-color
			color: $button-gray-bg-color
			border:
				color: $button-gray-bg-color

	&.is-blue
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
			background:
				color: $button-blue-bg-color
			color: $button-blue-color
			border:
				color: $button-blue-bg-color
		&.is-inverted
			&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
			background:
				color: $button-blue-color
			color: $button-blue-bg-color
			border:
				color: $button-blue-bg-color

	&.is-black
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
		background:
			color: $button-black-bg-color
		color: $button-black-color
		border: none
	
	&.is-yellow
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
		background:
			color: $button-yellow-bg-color
		color: $button-yellow-color
		border: none
		&:active
			background: 
				color: $button-yellow-active-bg-color

	&.is-ygreen
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
		background:
			color: $button-ygreen-bg-color
		color: $button-ygreen-color
		border: none
		&:active
			background: 
				color: $button-ygreen-active-bg-color

	&.is-cred
		&, &:hover, &.is-hovered, &:focus, &.is-focused, &:active, &.is-actived
			background:
				color: $button-cred-bg-color
			color: $button-cred-color
			border: none
	
	//Status
	&:hover,
	&.is-hovered
		border-color: $border
		color: $color-white
	&:focus,
	&.is-focused
		border-color: $border
		color: $color-white
		&:not(:active)
		box-shadow: none
	&:active,
	&.is-active
		border-color: $border
		color: $color-white


	&:focus:not(:active),
	&.is-focused:not(:active)
		box-shadow: none
	&.is-text
		padding: 0
		min-width: auto
		height: auto
		border: none
		+font-set(15px, -.28px, 23px)
		color: $button-text-color
		&:hover,
		&:focus
			background: none
			color: $button-text-color

// buttons
.buttons
	margin: 
		bottom: 0
		top: 60px
	.button
		margin: 
			bottom: 0
	&:not(:last-child),
	&:last-child
		margin:
			bottom: 0
	&.is-centered
		margin:
			top: 40px
		&:not(.has-addons)
			.is-fullwidth
				margin:
					left: 0
					right: 0
				+ .is-fullwidth
					margin:
						top: 10px
			.button:not(.is-fullwidth)
				width: calc(50% - 6px)
				min-width: auto
				margin:
					left: 6px
					right: 6px
				&:first-child
					margin:
						left: 0
				&:last-child
					margin:
						right: 0
				&.is-mobile-fullwidth
					margin:
						left: 0
						right: 0
					+ .is-mobile-fullwidth
						margin:
							top: 15px
					
	&.is-multirow
		margin:
			top: 40px
		.button
			+ .button
					margin-top: 6px

	
// box.sass
$box-gray-background-color : $color-white02
$box-white-background-color: $color-white
$box-agree-color           : $color-gray05
$box-complete-color        : $color-black
$box-complete-color2       : $color-gray05

.box
	&.is-gray
		background:
			color: $box-gray-background-color
	&.is-white
		background:
			color: $box-white-background-color
	&.agree
		padding: 20px 30px
		border:
			radius: 0px
		margin:
			bottom: 0
		+mobile
			padding: 20px 20px
		p
			+font-set(13px, -.26px, 21px)
			color: $box-agree-color
	&.complete
		padding: 30px
		+mobile
			padding: 30px 20px
		margin:
			bottom: 0
		p
			+font-set(20px, -.8px, 28px)
			color: $box-complete-color
			font:
				weight: $weight-medium
			+ p
				margin:
					top: 5px
				+font-set(15px, -.3px, 23px)
				font:
					weight: $weight-normal
				+ p
					margin:
						top: 15px
					+font-set(13px, -.26px, 21px)
					font:
						weight: $weight-normal
					color: $box-complete-color2
			+ .box
				width: 400px
				+mobile
					width: auto
				margin: 30px auto 0
				border:
					radius: 4px
				padding: 14px 0
				p
					+font-set(15px, -.3px, 23px)
	&.form-list-box
		padding: 30px
		margin:
			bottom: 0
		+mobile
			padding: 30px 20px
		li
			+ li
				margin:
					top: 20px
	&.bullet-dotted-box
		border:
			radius: 0
		+mobile
			padding: 20px


// container(container.sass)
.container
    width: 100%
    height: 100%
    max-width: 100%
    overflow-y: auto


/** 
	Title
 **/

// title
.title-field
	padding:
		bottom: 30px
	.title
		font-family: $body-family
		letter-spacing: -0.23px
		
		&:not(:last-child)
			margin: 
				bottom: 15px
	p
		+font-set(15px, -.3px, 23px)
		+ p
			+font-set(13px, -.26px, 21px)
	&.type-2
		text-align: center
	&.type-3
		border:
			bottom: none
		margin:
			top: 50px
	&.is-centered
		text-align: center
	&.is-right
		text-align: right

	&.title-underline
		padding: 
			top: 30px
			bottom: 15px
		border: 
			bottom: 2px solid $color-black





/** 
	Icon
 **/

// arrow
.co-arrow
    &.up
        +co-arrow(up)
        +prefix(transform, rotate(135deg))
    &.down
        +co-arrow(down)
        +prefix(transform, rotate(-45deg))
    &.left
        +co-arrow(left)
        +prefix(transform, rotate(45deg))
    &.right
        +co-arrow(right)
        +prefix(transform, rotate(-135deg))



// color
a.fc-blue
	color : $color-blue
	&:active,
	&:focus,
	&:active
		color : $color-blue


// delete
.btn-delete
	+co-delete


// search

.btn-search
	background:
		color: $color-white
	border: 1px solid $color-gray02
	color: $color-gray02
	
	> span
        background: url(/img/ico_search.png) center/100% auto no-repeat
        overflow: hidden
        text-indent: 100%
        white-space: nowrap
        width: 22px
        height: 22px
        display: inline-block

.is-search
	.input
		padding:
			right: 60px
	.btn-search
		width: 60px
		height: 50px
		position: absolute
		top: 0
		right: 0
		border:
			left: 0
			radius: $input-radius
		font: 
			size: 0
		cursor: pointer
		&:focus
			outline: 0


// bookmark
.bookmark
	height: inherit
	width: 50px
	> span
			background: url(/img/ico_bookmark.png) center/100% auto no-repeat
			overflow: hidden
			text-indent: 100%
			white-space: nowrap
			width: 18px
			height: 23px
			display: inline-block
			vertical-align: middle



// modify
.btn-modify
	height: 40px
	width: 40px
	display: flex
	background-color: $input-background-color
	border: 1px solid $input-border-color
	border-radius: $input-radius
	
	> span
		background: url(/img/ico_pencil.png) center/100% auto no-repeat
		overflow: hidden
		text-indent: 100%
		white-space: nowrap
		width: 22px
		height: 22px
		display: inline-block
		vertical-align: middle
		margin: auto

// btn-map
.btn-map
	height: 50px
	width: 50px
	display: flex
	background-color: $input-background-color
	border: 1px solid $input-border-color
	border-radius: $input-radius

	> span
		background: url(/img/ico_mapmark.png) center/100% auto no-repeat
		overflow: hidden
		text-indent: 100%
		white-space: nowrap
		width: 24px
		height: 24px
		display: inline-block
		vertical-align: middle
		margin: auto
