
/*
	Header
 */

$header-height: 50px 

.header
	height: $header-height
	min-height: $header-height
	line-height: $header-height
	text-align: center
	border-bottom: 1px solid $color-gray
	
	> a
		letter-spacing: -0.02em
	.title
		width: 100%
		line-height: 50px

	&.is-fixed-top
		+ .tabs
			top: $header-height

			&.is-fixed
				+ .container
					padding-top: 135px
			
		+ .container
			padding-top: $header-height


// btn-back
.btn-back
	position: absolute
	left: 0
	top: 0
	display: inline-block
	width: 50px
	height: 50px

	> div 
		height: inherit
		display: block
		width: 16px
		height: 16px
		margin: 17px 0 0 15px
		border: 
			top: 3px solid $color-black
			left: 3px solid $color-black
		+prefix(transform, rotate(-45deg))
			
		&::after
			content: ''
			display: block
			margin-top: 30px
			width: 20px
			height: 3px
			background-color: $color-black
			border-radius: 20px
			+prefix02 (transform, rotate(-135deg), translate(22px, 15px))

.bookmark
	position: absolute
	top: 0
	right: 0
	height: inherit



/* 
	Skip navi
 */

.skipnavi
	positon: absolute
	top: 0
	left: 0
	width: 100%

	a
		display: block
		background-color: red
		color: white
		font-size: 0

		&:focus
			font-size: 14px


/*
	Section
 */

// common 
.section-grid
	padding-bottom: 30px


.lnr-grid
	padding: 
		left: $gap
		right: $gap
	background-color: $color-white


.section
	padding: 0 $gap 30px
	background: $color-white

.non-hd
	padding-top: 30px


/* 
	Contents
 */

#contents
	&.container
		> .title-field
			padding:
				top: 30px

			
.contents-grid
	padding:
		top: 30px


.field
	&:not(:last-child)
		margin-bottom: calc(16px - #{$column-gap})



/* 
	Button-btm-fixed 
 */

body
	&.has-navbar-btm-button
		padding-bottom: 55px

	&.has-navbar-btm-button02
    padding-bottom: 105px


.button-btm-fixed
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 30

	.buttons
		margin-top: 0

		&:last-child:not(.has-addons)
			.button:not(.is-fullwidth)
				width: 50%
				margin:
					left: 0
					right: 0

	a.button
		display: inline-block
		
	.button,
		height: auto
		border-radius: 0
		max-height: 55px !important
		padding: 
			top: 13px
			bottom: 13px
			bottom: calc(constant(safe-area-inset-bottom) + 13px)
			bottom: calc(env(safe-area-inset-bottom) + 13px)


/* [210428 - Add] */
.vh-center-grid
	height: 100%
	position: relative

	.vh-center-box
		position: absolute
		top: 50%
		left: 0
		width: 100%
		transform: translateY(-50%)

	.infotxt-box
		margin: 0 auto;
